body{
	 background: #333300;
}

#conteudo-esquerda{
	width:424PX;
	height;auto;
	float:left;
}	
#conteudo-centro{
  	width:424PX;
	height;auto;
	float:left;
}	
.banner{
	width:424px;
	height :375px;
}